/*start my css*/

body{
  margin: 0px;
  padding: 0px;
}
.sec1{
  width: 100%;
  height: 500px;
  background: #818bf3;
  position: relative;
}

.sec2{
  width: 100%;
  height: 500px;
  background: #fff;
  position: relative; 
}

.sec2:before{
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  left: 0px;
  background: #fff;
  transform: skewY(8deg);
}

.sec2:after
{
  content: "";
  width: 50%;
  height: 100px;
  position: absolute;
  top: -48px;
  right: 0px;
  background: #fff;
  transform: skewY(-8deg);
}

.about_top{
  padding-top: 85px;
  font-size: 45px;
}

.text{
  border: 1px solid #ccc;
  width: 1000px;
  height: 200px;
  padding: 25px 35px  25px 35px;
  margin-top: 50px;
  margin-left: 200px;
  background-color: white;
  box-shadow: 0px 6px 0px 6px #ccc;

}
.path{
  margin-top: 30px;
}
.button{
  margin-top: 40px;
  padding: 10px 10px;
  width: 150px;
  background-color: #818bf3;
  border: none;
}

.button1{
  margin-top: 0px;
  padding: 8px 8px;
  width: 100px;
  background-color: #818bf3;
  border: none;
}
.button1:hover{
  background-color: #b5baf4;
  border: none;
}

.button:hover{
  background-color: #b5baf4;
  border: none;
}

#top-header{
  position: relative;
}
#top-header::after{
  content: "";
  display: block;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  background: black;
  opacity: 0.3;
}

.text_main{
  position: absolute;
  top: 30%;
  left: 0px;
  width: 100%;
  right: 0px;
  z-index: 555;

}
.line{
  border-bottom: 3px solid #818bf3;
  width: 120px;
  margin-left: 610px;
}

.line1{
  border-bottom: 3px solid #818bf3;
  width: 120px;
  margin-left: 500px;
}
.line2{
   border-bottom: 3px solid #818bf3;
  width: 120px;
   margin-left: 500px;
}

#top-header{
  background:url(../images/4.jpg);
background-attachment:fixed;
height: 700px;
background-size:cover;
}
#video{
   position: relative;
}
#video::after{
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: block;
  position: absolute;
  background:#818bf3;
  opacity: 0.5;

}
.box{
  margin-top: 40px;
}

.offer{
  border: 2px solid#818bf3;
  text-align: center;
  padding: 15px 10px 15px 10px;
  box-shadow: 0px 5px #ccc;
}

#Features{
  background-image: url(../images/4.jpeg);
background-attachment:fixed;
height: 500px;
background-size:cover;
}
.box1{
  border: 1px solid #ccc;
  color: black;
  background-color: white;
  padding: 10px;
  text-align: center;
}
.box{
  margin-top: 20px;
}
.icon1{
  font-size: 40px;
color: #818bf3;
border: 2px solid #818bf3;
padding: 30px;
border-radius: 20px;
}
.blog1{
  overflow: hidden;
  
}
.team{
  overflow: hidden;
  padding: 5px;
  border-radius: 150px;
  

}